.bg-black { background-color: black; color:white !important }
.bg-blue{ background-color: blue; color:white !important }
.bg-brown{ background-color: brown; color:white !important }
.bg-gold{ background-color: gold; color:black !important }
.bg-green{ background-color: green; color:black !important }
.bg-indigo{ background-color: indigo; color:white !important }
.bg-magenta{ background-color: magenta; color:black !important }
.bg-orange{ background-color: orange; color:black !important }
.bg-red{ background-color: red; color:black !important }
.bg-silver{ background-color: grey; color:black !important }
.bg-uv{ background-color: violet; color:white !important }
.bg-white{ background-color: lightgrey; color:black !important }
.bg-yellow{ background-color: yellow; color:black !important }
